
<h3 mat-dialog-title>Ads</h3>

<div mat-dialog-content>

    <!-- Ads -->
    <table
      mat-table
      [dataSource]="ads">

      <ng-container matColumnDef="content">
        <td
          mat-cell
          *matCellDef="let idx">

          <mat-form-field class="full-width">
            <textarea
              matInput
              rows="3"
              [(ngModel)]="idx.content">
            </textarea>
          </mat-form-field>

          <div class="right">

            <button
              (click)="saveAd(idx)"
              mat-button>
              Save
            </button>

            <button
              (click)="deleteAd(idx)"
              mat-button>
              Delete
            </button>

          </div>

        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!-- /Ads -->

</div>

<div mat-dialog-actions [align]="'end'">

  <button
    mat-flat-button
    (click)="newAd()"
    type="button">
    New
  </button>

  <button
    mat-flat-button
    (click)="close()"
    type="button">
    Close
  </button>

</div>
