
<form
  class="prompt-form"
  (ngSubmit)="submit()">

  <mat-form-field
    class="prompt"
    appearance="outline">

    <mat-label>I am the Oracle from Delphi, I know everything. Ask me about anything, and I shall answer you ...</mat-label>

    <input
      matInput
      [(ngModel)]="prompt"
      [disabled]="searching"
      name="prompt"
      placeholder="Example: Who won US Open in 2023?">

    <button
      mat-icon-button
      matSuffix
      [disabled]="searching"
      color="primary">
      <mat-icon>search</mat-icon>
    </button>

  </mat-form-field>

</form>

<mat-card
  class="feedback"
  *ngIf="searching">
  <div class="output"></div>
</mat-card>
