
<form
  class="prompt-form"
  (ngSubmit)="submit()">

  <mat-form-field
    class="prompt"
    appearance="outline">

    <mat-label>Ask me anything, and I shall answer you ...</mat-label>

    <input
      matInput
      [(ngModel)]="prompt"
      [disabled]="searching"
      (focus)="focused()"
      (blur)="blurred()"
      name="prompt"
      placeholder="Example: Who won US Open in 2023?">

    <button
      mat-icon-button
      matSuffix
      [disabled]="searching || !valid()"
      color="primary">
      <mat-icon>search</mat-icon>
    </button>

    <mat-hint class="mat-error" *ngIf="hasFocus && !valid()">Your question must be between 5 and 250 characters and end with a question mark (?)</mat-hint>

  </mat-form-field>

</form>

<mat-card
  class="feedback"
  *ngIf="searching">
  <div class="output">
    <p *ngFor="let msg of messages">{{msg.message}}</p>
  </div>
</mat-card>
