
::ng-deep {
  html, body {
    height: auto;
    width: auto;
  }
  body {
    padding-bottom: 25px;
  }
}

mat-spinner {
  position: absolute;
  top: 15px;
  right: 15px;
}

.viewport {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  form {
    padding-top: 20px;
  }

  .navbar {
    text-align: right;
    padding-top: 20px;
  }

  .prompt-form {
    width: 100%;
    display: block;

    .prompt {
      width: 100%;
    }
  }

  .recent-results {
    width: 100%;
    padding: 25px;

    .count {
      position: absolute;
      bottom: 15px;
      right: 15px;
      color: #a0a0a0;
    }

    h1 {
      text-align: center;
    }

    td {
      padding: 0;
    }

    .article-link {
      width: 100%;
      display: block;
      padding: 15px 15px 15px 15px;
      height: auto;
      text-decoration: none;
      justify-content: flex-start;
      color: #a0a0a0;
    }

    .permalink .article-link {
      color: #000000;
    }

    .small-cell {
      width: 50px;
    }

    .pager {
      text-align: center;
      margin-bottom: -15px;

      button {
        width: 150px;
      }
    }
  }

  .feedback {
    width: 100%;
    padding: 25px;

    .output {
      height: 180px;
      background-color: #000000;
      border-radius: 5px;
      color: whitesmoke;
      padding: 25px;

      p {
        margin: 0;
      }

      @keyframes blink {
        0% {
          margin-left: -100px;
          opacity: 0;
        }
        100% {
          margin-left: 0;
          opacity: 1;
        }
      }

      p {
        animation-name: blink;
        animation-duration: .25s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  .viewport {
    width: calc(100% - 40px);
  }
}

::ng-deep {
  .grecaptcha-badge { 
    visibility: hidden;
  }
}