
.prompt-form {
  width: 75vw;
  padding-top: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .prompt {
    width: 100%;
  }
}

.feedback {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;

  .output {
    min-height: 50px;
    background-color: #000000;
    border-radius: 5px;
    color: whitesmoke;
  }
}
