
mat-spinner {
  position: absolute;
  top: 15px;
  right: 15px;
}

.viewport {
  padding-top: 100px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 982px) {
    width: calc(100% - 40px);
    padding-top: 40px;
  }

  .prompt-form {
    width: 100%;
    display: block;

    .prompt {
      width: 100%;
    }
  }

  .recent-results {
    width: 100%;
    padding: 25px;

    h1 {
      text-align: center;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;

        a {
          margin-right: 20px;
          margin-bottom: 10px;
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
  }

  .feedback {
    width: 100%;
    padding: 25px;

    .output {
      height: 180px;
      background-color: #000000;
      border-radius: 5px;
      color: whitesmoke;
      padding: 25px;

      p {
        margin: 0;
      }

      @keyframes blink {
        0% {
          margin-left: -100px;
          opacity: 0;
        }
        100% {
          margin-left: 0;
          opacity: 1;
        }
      }

      p {
        animation-name: blink;
        animation-duration: .25s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }
}

::ng-deep {
  .grecaptcha-badge { 
    visibility: hidden;
  }
}